<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/name_form">New Game</a></li>
              <li><a href="/">Another Round</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><h4><%=@error%></h4></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><h4><%=@success%></h4></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
