<h3>Welcome to Blackjack!</h3>
<h5>What's your name?</h5>


<form action = '/name_form' method="post">
  Name: <input type= 'text' name='player_name'>
  <br/>
  <input type='submit' value='Set Name' class='btn btn-primary'>
</form>

